form {
    color:rgb(165, 34, 78);
    padding: 3rem;
    background-color: rgb(236, 231, 243);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.22);
    border-radius: 5px;
    /* position: relative; */
    width: 20%;
    margin: 1rem auto;
}

h2 {
    text-align: center;
}

input[type="text"], 
input[type="password"] {
    display: block;
    width: 100%;
    margin: 1rem auto;
    font-size: 1rem;
    color: rgb(165, 34, 78);
    border-style: none;
    outline-style: none;
    background-color: transparent;
    border-bottom: 3px solid rgb(165, 34, 78);
    border-radius: 0;
    padding: 1rem 0;
    text-transform: capitalize;
}

input[type="submit"] {
    display: block;
	width: 100%;
	padding: 1.5rem 0;
	margin: 2rem auto 0;
	background: rgb(165, 34, 78);
	border: none;
    border-radius: 5px;
    font-size: 1rem;
}

input[type="submit"]:hover {
    opacity: 0.8;
    cursor: pointer;
}