<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Торты</title>
<link href="/js/chunk-2d0a555e.c28742ee.js" rel="prefetch"><link href="/js/chunk-b8288298.e435efbc.js" rel="prefetch"><link href="/js/chunk-b8501c38.8472a773.js" rel="prefetch"><link href="/js/app.21ba12ee.js" rel="preload" as="script"><link href="/js/chunk-vendors.db401e21.js" rel="preload" as="script"></head>
<body>
<div id="app"></div>
<script type="text/javascript" src="/js/chunk-vendors.db401e21.js"></script><script type="text/javascript" src="/js/app.21ba12ee.js"></script></body>
</html>