<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Торты</title>
<link href="/js/chunk-2d0a555e.077550bc.js" rel="prefetch"><link href="/js/chunk-2d215c56.81fb82f1.js" rel="prefetch"><link href="/js/chunk-b8288298.4810c38f.js" rel="prefetch"><link href="/js/chunk-b8501c38.9705ee7b.js" rel="prefetch"><link href="/js/app.c17cc251.js" rel="preload" as="script"><link href="/js/chunk-vendors.941e8585.js" rel="preload" as="script"></head>
<body>
    <div id="app"></div>
    <script type="text/javascript" src="/js/chunk-vendors.941e8585.js"></script><script type="text/javascript" src="/js/app.c17cc251.js"></script></body>
</html>