.good-card {
    width: 70%;
    display: block;
	background-color: rgb(238, 217, 192);
	margin: .5rem 8rem;
	border-radius: 8px;
	text-align: center;
	padding: 1rem 5rem;
}

.good-card img {
    width: 40%;
    height: 60vh;
    /* object-fit: cover; */
}

.buy a {
    background-color: rgb(42, 205, 211);
    padding: .5rem;
    text-decoration: none;
    color: rgb(46, 21, 4);
    border-radius: 5px;
}